@import "variables";
@import "bootstrap/scss/bootstrap-grid.scss";

:root {
    font-size: 14px;
}

body {
    background-color: $colorLighterGray;
    color: $colorDarkGray;
    font-family: $fontBaseFamily;
    margin: 0;
    padding: 0;
}