@import "../../common/styles/_variables";

.tile {

    margin-top: 20px;

    .body {

        background-color: $colorWhite;
        border: 1px solid $colorLightGray;
        font-size: 14px;
        padding: 10px;

        button {
            float: right;
        }

        .content {
            padding: 10px 0;
            height: 200px;
        }

        .controls {
            border-top: 1px solid $colorLightGray;
            padding-top: 10px;
            overflow: hidden;
        }

        .header {
            font-size: 16px;
            border-bottom: 1px solid $colorLightGray;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        .loader {
            background-image: url("../../common/images/loading.gif");
            background-position: center;
            background-size: 30px auto;
            background-repeat: no-repeat;
            height: 100%;
        }

    }

}